
.aboutUsImageDivision
{
	margin-top:30px;
	
}

.aboutUsTextDivision
{
	margin-top:20px;
	margin-left:90px;	
	float:center;
	overflow:inline-block;
	width:600px;
	height:200px;
	text-align:left;
	font-family: sans-serif;
	
}

