
.aboutUsImageDivision
{
	margin-top:30px;
	
}

.aboutUsTextDivision
{
	margin-top:20px;
	margin-left:90px;	
	float:center;
	overflow:inline-block;
	width:600px;
	height:200px;
	text-align:left;
	font-size:16px;
	
}

#contactusmessagedivision{
	
	margin-top:40px;
	margin-left:130px;
	width:500px;
	display:inline-block;
	font-family: "sans-serif";
	color:green;
}
.contactUsTextDivision{
	
	
	margin-top:20px;
	width:500px;
	display:inline-block;
	font-family: "sans-serif";
	
}

textarea
{
	
	margin-top:20px;
	padding:5px;
	font-family: monospace;
	font-size:15px;
}


.contactUsButton
{
	cursor:pointer;
	width:100px;
	height:25px;
	margin-left:310px;
	margin-top:20px;
	background-color: green;
	color:black;
	padding:5px;
}


.contactUsButton:hover
{
	background-color: purple;
	color:white;
	cursor:pointer;
	
}