
.popupDivision
{
	margin:auto;
	margin-top:60px;
	position:fixed;
	background-color: #A9A9A9;
	overflow-y:auto;
	width:1000px;
	height:580px;
	overflow-y:auto;
	display:none;
	border:1px solid;
	
	border-color:black;
}


#popupCloseDivision
{
	width:25px;
	height:25px;
	float:right;
	postion:fixed;
	
}

#popupQuestionsDivision
{
	width:967px;
	height:60px;
	border:1px solid;
	border-color:black;
	float:left;
	overflow-x:scroll;
	display:inline;
	overflow-y:hidden;
	margin:3px;
    background-image: url('../images/background.png');
    color:white;

}


#popupPreviousDivision
{
	margin:auto;
	text-align:center;
	width:110px;
	height:20px;
	display: inline-block;
   word-wrap: break-word;
	border:1px solid;
	border-color:black;
	float:left;
	margin:3px;
    background-color:green;
     color:black;
}
#popupPreviousDivision:hover
{
	cursor:pointer;
    background-color:purple;
     color:white;
}

#popupQuestionNoDivision
{
	margin:auto;
	text-align:center;
	width:780px;
	height:20px;
	border:1px solid;
	border-color:black;
	float:left;
	margin:3px;
    background-image: url('../images/background.png');
     color:white;
}


#popupNextDivision
{
	margin:auto;
	text-align:center;
	width:60px;
	height:20px;
	display: inline-block;
   word-wrap: break-word;
	border:1px solid;
	border-color:black;
	float:left;
	margin:3px;
    background-color:green;
     color:black;
}

#popupNextDivision:hover
{
	cursor:pointer;
    background-color:purple;
     color:white;
}


#popupMainDivision
{
	width:997px;
	height:478px;
	border-top:1px solid;
	border-color:black;
	display:inline-block;
	overflow-y:scroll;
	float:left;
	
}



#popupQuestionDivision
{
	margin:auto;
	text-align:justify;
	min-width:960px;
	min-height:50px;
	display: inline-block;
   word-wrap: break-word;
	border:1px solid;
	border-color:black;
	float:left;
	padding:5px;
	margin:3px;
    background-image: url('../images/background.png');
     color:white;
}


#popupImageDivision
{
	margin:auto;
	text-align:justify;
	width:970px;
	min-height:50px;
	display: inline-block;
   word-wrap: break-word;
	float:left;
	margin:3px;
	padding:auto;
	text-align:center;
	
}

#popupoptionADivision
{
	text-align:justify;
	width:926px;
	min-height:50px;
	display: inline-block;
   word-wrap: break-word;
	border:1px solid;
	border-color:black;
   float:left;
   padding:5px;
   margin:3px;
    background-image: url('../images/background.png');
     color:white;
}
#popupoptionBDivision
{
	margin:auto;
	text-align:justify;
	width:926px;
	min-height:50px;
	display: inline-block;
   word-wrap: break-word;
	border:1px solid;
	border-color:black;
	float:left;
	padding:5px;
	margin:3px;
	background-image: url('../images/background.png');
	 color:white;
}
#popupoptionCDivision
{
	margin:auto;
	text-align:justify;
	width:926px;
	min-height:50px;
	display: inline-block;
    word-wrap: break-word;
	border:1px solid;
	border-color:black;
	float:left;
	padding:5px;
	margin:3px;
	background-image: url('../images/background.png');
	 color:white;
}
#popupoptionDDivision
{
	margin:auto;
	text-align:justify;
	width:926px;
	min-height:50px;
	display: inline-block;
   word-wrap: break-word;
	border:1px solid;
	border-color:black;
	float:left;
	padding:5px;
	margin:3px;
	background-image: url('../images/background.png');
	 color:white;
}


.optionDivision
{
	
	margin:auto;
	text-align:justify;
	width:15px;
	height:20px;
	border:1px solid;
	border-color:black;
	float:left;
	margin:3px;
	padding:5px;
	background-image: url('../images/background.png');
	 color:white;
}

#popupYourAnswerDivision
{
	padding-top:3px;
	margin:auto;
	text-align:center;
	width:400px;
	height:20px;
	display: inline-block;
   word-wrap: break-word;
	border:1px solid;
	border-color:black;
	float:left;
	margin:3px;
	background-image: url('../images/background.png');
	 color:white;
}

#popupViewSolutionDivision
{
	padding-top:3px;
	margin:auto;
	text-align:center;
	width:150px;
	height:20px;
	display: inline-block;
   word-wrap: break-word;
	border:1px solid;
	border-color:black;
	float:left;
	background-color:green;
	margin:3px;
	 color:black;
}
#popupViewSolutionDivision:hover
{
	cursor:pointer;
	background-color:purple;
	color:white;
}

#popupCorrectAnswerDivision
{
	padding-top:3px;
	margin:auto;
	text-align:center;
	width:403px;
	height:20px;
	display: inline-block;
   word-wrap: break-word;
	border:1px solid;
	border-color:black;
	float:left;
	background-image: url('../images/background.png');
	margin:3px;
	 color:white;
}


#popupSolutionDivision
{
	margin:auto;
	text-align:justify;
	width:970px;
	min-height:50px;
	display: inline-block;
   word-wrap: break-word;
	border:1px solid;
	border-color:black;
	float:left;
	margin:3px;
	background-image: url('../images/background.png');
	 color:white;
	 
}



.notAnswered{
	
	cursor:pointer;
	margin-top:5px;
	margin-left:5px;
	padding:2px;
    text-align: center;
	width:25px;
	height:25px;
	float:left;
	background-color: white;
	font-family:monospace;
	font-size:18px;
	color:black
	
}

.viewSolutions
{
	
	background-color:green;
	color:black;
	width:350px;
	margin:auto;
	cursor:pointer;
}

.viewSolutions:hover
{
	background-color: purple;
	color:white;
	
}