
body,html{
	 margin:auto;
     padding: 0;
     text-align: center;
	
}

#testsContainer{
	
	border:1px solid;
	border-color:#ff0000;
	margin:auto;
	padding:0;
    text-align: center;
	width:850px;
	height:500px;
	
}

.subjectContainer{
	
	border:1px solid;
	border-color:green;
	margin:auto;
	padding:5 px;
    text-align: center;
	width:630px;
	height:40px;
	float:left;
	
}

.statusContainer{
	background-color : olive;
	cursor:pointer;
	border:1px solid;
	border-color:green;
	margin:auto;
	padding:5 px;
    text-align: center;
	width:210px;
	height:40px;
	float:left;
}
